/* GLOBAL CSS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

body {
  background-color: #e9eff5;
  color: #3e444a;
  font-family: "Rubik", sans-serif;
}

.card {
  -webkit-box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  /* border-radius: 1rem; */
}

.card-body {
  padding: 24px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.tasks-list > div {
  margin-top: 1rem;
}

.tasks-list > div:first-child {
  margin-top: 0rem;
}
